<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>index page</h3>
    <h1>shop panel</h1>
    <h1><a href="{% url 'shop_register' %}">register</a></h1>
    <h1><a href="{% url 'shop_login' %}">login</a></h1><hr>
    <br>
    <h1>client panel</h1>
    <h1><a href="{% url 'user_register' %}">register</a></h1>
    <h1><a href="{% url 'user_login' %}">login</a></h1><hr>
    <h1>Admin</h1>
    
    <h1><a href="{% url 'admin:index' %}">Login</a></h1>
    <h3>admin---username:admin --password:admin</h3>
</body>
</html>